:root {
    --navy: #001F3F;
    --deepTeal: #00585C;
    --softWhite: #FFFFFF;
    --gap: 1rem;
    --subsectionWidth: 80%;
    --animationDuration: 2s;
}

/*Whole Page*/
.page {
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-color: var(--softWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    padding: var(--gap) 0;
    gap: var(--gap);
}

/*------------*/


/*My Image*/
.image {
    width: var(--subsectionWidth);
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 128, 0.8);
    object-fit: cover;
}

.hiddenImage {
    transform: translateX(-150vw);
}

.visibleImage {
    animation-name: fadeInLeft;
    animation-duration: var(--animationDuration);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*------------*/

/*Subsection*/
.mainSection {
    min-width: var(--subsectionWidth);
    max-width: var(--subsectionWidth);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hiddenSection {
    transform: translateX(150vw);
}

.visibleSection {
    animation-name: fadeInRight;
    animation-duration: var(--animationDuration);
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(150vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*------------*/

/*My Info Section*/
.info {
    width: 100%;
    color: var(--navy);
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    font-size: clamp(1rem, 2vw, 2rem);
}

.name {
    font-weight: bolder;
    animation: textAnimation 1.5s linear infinite;
    animation-delay: var(--animationDuration);
}

@keyframes textAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

}

/*------------*/

/*Links Section - Buttons*/
.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-self: center;
}

.button, .button:focus {
    width: 100%;
    min-height: 2rem;
    max-height: 2rem;
    background-color:var(--softWhite);
    color: var(--navy);
    border: 2px solid var(--navy);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    text-align: center;
    line-height: 2rem;
}

.button:hover,
.button:active {
    background-color: #001F3F;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 128, 0.8);
    color: #FFFFFF;
}

/*------------*/

.absolute{
    position: absolute;
    top: 0;
}


/*Responsive Design*/

@media (min-width: 480px) {

    :root {
        --subsectionWidth: 60%;
    }

}


@media (min-width: 700px) {

    :root {
        --subsectionWidth: 40%;
    }

    .page {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .image {
        width: 50%;
    }


    @keyframes textAnimation {
        0% {
            transform: translate(0);
        }

        25% {
            transform: translate(-1px, 1px);
        }

        50% {
            transform: translate(1px, -1px);
        }

        75% {
            transform: translate(-1px, -1px);
        }

        100% {
            transform: translate(0);
        }
    }
   

}


@media (min-width: 1000px) {

    :root {
        --subsectionWidth: 40%;
    }

    .image {
        width: 40%;
    }

    .mainSection{
        gap: 2rem;
    }   

    .info {
        text-align: start;
        white-space: wrap;
    }

}
