:root {
    --landingGap: 1rem;
    --landingSubsectionWidth: 80%;
    --landingAnimationDuration: 2s;
    --buttonHeight:2rem;
}


/*Whole Page*/
.page {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    gap: var(--landingGap);
    cursor: default;
}

/*------------*/


/*My Image*/
.image {
    min-width: var(--landingSubsectionWidth);
    max-width: var(--landingSubsectionWidth);
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 4px 10px var(--color3);
}

.hiddenImage {
    transform: translateX(-150vw);
}

.visibleImage {
    animation-name: fadeInLeft;
    animation-duration: var(--landingAnimationDuration);
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*------------*/

/*Subsection*/
.mainSection {
    min-width: var(--landingSubsectionWidth);
    max-width: var(--landingSubsectionWidth);
    display: flex;
    flex-direction: column;
    gap: var(--landingGap);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hiddenSection {
    transform: translateX(150vw);
}

.visibleSection {
    animation-name: fadeInRight;
    animation-duration: var(--landingAnimationDuration);
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(150vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*------------*/

/*My Info Section*/
.info {
    width: 100%;
    color: var(--color1);
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: calc(var(--landingGap) / 2);
    font-size: clamp(1rem, 2vw, 2rem);
}


.name {
    font-weight: bolder;
    animation: textAnimation 1.5s linear infinite;
    animation-delay: var(--landingAnimationDuration);
}

@keyframes textAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

}

/*------------*/

/*Links Section - Buttons*/
.buttons {
    display: flex;
    flex-direction: column;
    gap: calc(var(--landingGap) / 2);
    width: 100%;
    align-self: center;
}

.button,
.button:focus {
    width: 100%;
    min-height: var(--buttonHeight);
    max-height: var(--buttonHeight);
    background-color: var(--color5);
    color: var(--color1);
    border: 2px solid var(--color1);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover,
.button:active {
    background-color: var(--color1);
    transform: scale(1.05);
    box-shadow: 0 4px 10px var(--color3);
    color: var(--color5);
}

/*------------*/



/*Responsive Design*/

@media (min-width: 480px) {

    :root {
        --landingSubsectionWidth: 70%;
    }

}

@media (min-width: 480px) and (orientation:landscape) {

    :root {
        --landingSubsectionWidth: 35%;
    }

    .page {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

}


@media (min-width: 700px) {

    :root {
        --landingSubsectionWidth: 45%;
        --landingGap: 2rem;
    }

    .page {
        justify-content: center;
    }

    @keyframes textAnimation {
        0% {
            transform: translate(0);
        }

        25% {
            transform: translate(-1px, 1px);
        }

        50% {
            transform: translate(1px, -1px);
        }

        75% {
            transform: translate(-1px, -1px);
        }

        100% {
            transform: translate(0);
        }
    }

}

@media (min-width: 1025px) {

    :root {
        --landingSubsectionWidth: 35%;
        --buttonHeight:3rem;
    }

    .page {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .mainSection {
        gap: 4rem;
    }

    .info {
        text-align: start;
        white-space: wrap;
    }

}