* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0d1b2a;
  --color2: #1b263b;
  --color3: #415a77;
  --color4: #778da9;
  --color5: #e0e1dd;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: var(--color5);
}

html::-webkit-scrollbar-thumb {
  background: var(--color4);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--color1);
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color4) var(--color5);
}

.scrollToTop {
  min-width: 2rem;
  max-width: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  background-color: var(--color4);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #0d1b2a;
}

.scrollToTop:hover{
  cursor: pointer;
  border:1px solid #0d1b2a
}

@media (min-width: 700px) {

  .scrollToTop {
    min-width: 3rem;
    max-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    bottom: 2rem;
    right: 2rem;
  }

}